<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Image Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p>
      To add an image, drag it to the workspace.
    </p>
    <p>
      Jackson Ward is AMONG US and he is a real SUSSY BAKA
    </p>
  
      <ion-content>
        
          <button ion-button (click)="displayPill()"> <img src="assets/Images/pill.png"></button>
      
          <button ion-button (click)="displayX()"> <img src="assets/Images/nobueno.png"></button>
      
          <button ion-button (click)="displayCheck()"> <img src="assets/Images/check.png"></button>
    
          <button ion-button (click)="displayBackPain()"> <img src="assets/Images/BackPain.png"></button>
    
          <button ion-button (click)="displayBreathe()"> <img src="assets/Images/Breathe.png"></button>
    
          <button ion-button (click)="displayStummy()"> <img src="assets/Images/stummy.png"></button>
    
          <button ion-button (click)="displayThermo()"> <img src="assets/Images/thermo.png"></button>
      
    
        
    
         
      
      </ion-content>
    
    
    <div class="ion-page" id="main-content">
      
      <ion-content class="ion-padding">
       
         
          
       
       
        <div>
          <button (click)="delete()" ><ion-icon size="large" name="refresh-outline"></ion-icon></button>
        
        </div>
      
      </ion-content>
    </div> 
    <div>
     <div *ngIf="isDisplayPill" class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition"> <img src="assets/Images/pill.png"></div>
    
      <div *ngIf="isDisplayX" class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition"> <img src="assets/Images/nobueno.png"/></div>
      
      <div *ngIf="isDisplayCheck" class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition"> <img src="assets/Images/check.png"/></div>
    
      <div *ngIf="isDisplayBackPain" class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition"> <img src="assets/Images/BackPain.png"/></div>
    
      <div *ngIf="isDisplayBreathe" class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition"> <img src="assets/Images/Breathe.png"/></div>
    
      <div *ngIf="isDisplayStummy" class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition"> <img src="assets/Images/stummy.png"/></div>
    
      <div *ngIf="isDisplayThermo" class="example-box" cdkDrag [cdkDragFreeDragPosition]="dragPosition"> <img src="assets/Images/thermo.png"/></div>
      
     
    </div>
    
    <ion-menu-toggle>
      <ion-button color="danger">Click to close the Gallery</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Welcome to Beyond Words!</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-fab>
        <ion-fab-button color="danger">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-menu-toggle>
  </ion-content>
</div>



